@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Qwitcher+Grypen&display=swap');

:root {
    --font-family-brand: 'Qwitcher Grypen', cursive;
    --font-family-titles: 'Pacifico', cursive;
    --font-family-body: 'Qwitcher Grypen', cursive;

    --bg-color-nav: #fecde0;
}

/* *, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


.bg-nav {
    background-color: var(--bg-color-nav);
    /* background-color: transparent; */
}

.brand-font {
    font-family: var(--font-family-brand);
}

.title-font {
    font-family: var(--font-family-titles);
}

.nav-brand-fontsize {
    font-size: 4rem;
}

.max-vh-100 {
    max-height: 100vh;
}

.welcomeFloatBrandContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.welcomeFloatBrand{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    padding-bottom: 20%;
}

#carouselExampleControls::after{
    content: "";
    width: 100%;
    position: absolute;
    background-color: white;
    height: 50px;
    bottom: -35px;
    filter: blur(1.5rem);
}


.outstanding-card{
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    position: absolute;
    transform: rotate(-45deg);
    top: -5rem;
    left: -5rem;
    padding: 15px;
    border: 50px solid transparent;
    border-bottom: 50px solid rgb(208, 83, 196);
    overflow: hidden;
}


.h2-custom{
    font-size: calc(40px + 1.5vw);
}

@media (max-width: 800px) {
    .welcomeFloatBrand{
        font-size: 10rem;
    }
}

@media (min-width: 400px) {
    #navShoppingCartIcon::before {
        content: "Carrito ";
    }
}