@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Qwitcher+Grypen&display=swap');

:root {
    --font-family-brand: 'Qwitcher Grypen', cursive;
    --font-family-titles: 'Pacifico', cursive;
    --font-family-body: 'Qwitcher Grypen', cursive;

    --bg-color-nav: #fecde0;
    --bg-color-sec: #f9acc9;
}

/* *, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


.bg-nav {
    background-color: var(--bg-color-nav);
    /* background-color: transparent; */
}

nav > a{
    margin-left: 2rem;
}

.brand-font {
    font-family: var(--font-family-brand);
}

.title-font {
    font-family: var(--font-family-titles);
}

h5.nav-brand-fontsize {
    font-size: max(4vw,70px);
    margin-bottom: 0;
}
.nav-brand-fontsize {
    font-size: max(1.2vw,15px);
}

nav a{
    color: black;
    padding: 0.5rem;

}

nav a:hover{
    color: rgb(64, 64, 66);
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 14px;
}

.max-vh-100 {
    max-height: 100vh;
}
section#welcome{
    scroll-margin-top: 0;
}
section{
    scroll-margin-top: 12rem;
}
.welcomeFloatBrandContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.welcomeFloatBrand{
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    padding-bottom: 20%;
}

#welcome img{
    opacity: 0.4;
}

#carouselExampleControls::after{
    content: "";
    width: 100%;
    position: absolute;
    background-color: white;
    height: 50px;
    bottom: -35px;
    filter: blur(1.5rem);
}

.btn-agregar{
    background-color: red;
}

.productName{
    z-index: 100;
}

.outstanding-card{
    width: 10rem;
    height: 10rem;
    background-color: transparent;
    position: absolute;
    transform: rotate(-45deg);
    top: -5rem;
    right: -5rem;
    padding: 15px;
    border: 30px solid transparent;
    border-left: 30px solid rgb(208, 83, 196);
}

.outstanding-text{
    position: absolute;
    transform: rotate(90deg);
    font-size: 20px;
    top: 2.2rem;
    right: 4.3rem;
    color: white;
}


.h2-custom{
    font-size: calc(40px + 1.5vw);
}

.divider{
    background-color: var(--bg-color-nav);
    height: 2px;
    width: 92%;

    margin: 2rem auto;
}

.my-order-list .row{
    background-color: var(--bg-color-nav);
    padding: 0.5rem;
    display: flex;
}

.main-col-mol{
   width: 1000px;
}

.my-order-list .row{
    border-bottom: 1px solid white;
}

.my-order-list .row:last-of-type{
    border-bottom: none;
}

.footer-elem{
    white-space: nowrap;
    font-size: min(calc(12px + 1.5vw),16px);
}

@media (max-width: 768px) {
    .welcomeFloatBrand{
        font-size: 10rem;
    }
}

@media (min-width: 769px){
    header h5{
        width: auto;
    }
    header{
        justify-content: space-between;
    }
    nav{
        justify-content: right;
        width: max-content;
    }
    .myOrder{
        justify-content: space-between;
    }
}

@media (min-width: 400px) {
    #navShoppingCartIcon::before {
        content: "Carrito ";
    }
}


